@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

  --color-primary:  #023020;
  --color-accent: #FFD700;
  --color-secondary: #ffffff;
  --color-dark: #000000;

  --font-display: "Oswald", "sans-serif";
  --font-body: "Roboto", "sans-serif";
  --font-mono: "Space Mono", "monospace";
}

html, body {
  margin: 0;
  padding: 0;
}